<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.chrisspiegl.alfred-case-change</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>3286A8DB-F52B-4F52-A7BF-AC047E93020C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>644BC5CD-0904-4F74-A62B-53F8C0C480AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>471CF534-F026-4387-9103-42579D4470D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3329C17-F24B-4733-949B-7A83AC8FC0A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>50AE60DC-16B0-4D10-A276-B4B53EE106ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3286A8DB-F52B-4F52-A7BF-AC047E93020C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>644BC5CD-0904-4F74-A62B-53F8C0C480AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AEB8D60E-FD3D-4701-9416-3DAEC04A19A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>31B5E978-02CB-42AE-B09A-3264D53721D6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>471CF534-F026-4387-9103-42579D4470D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8F708FC7-40D7-4862-8D55-AC6037DF8473</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6C3518AF-C551-4680-A4C2-7D1D95E7B401</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C3518AF-C551-4680-A4C2-7D1D95E7B401</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0675D6AB-8DDC-43DB-AA1F-525449E91AE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A2D82697-DC86-4750-914C-5A20D670AECC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3286A8DB-F52B-4F52-A7BF-AC047E93020C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AEB8D60E-FD3D-4701-9416-3DAEC04A19A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A97A5012-D24A-420B-8B58-E8D6293777E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Spiegl</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>alfred-case-change</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Casechanged!</string>
				<key>title</key>
				<string>Renamed the Selected Files</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A97A5012-D24A-420B-8B58-E8D6293777E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/rename.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AEB8D60E-FD3D-4701-9416-3DAEC04A19A8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>2</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Change case…</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>50AE60DC-16B0-4D10-A276-B4B53EE106ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>471CF534-F026-4387-9103-42579D4470D0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Case changed…</string>
				<key>title</key>
				<string>Selected text updated!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A3329C17-F24B-4733-949B-7A83AC8FC0A2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Waiting…</string>
				<key>script</key>
				<string>/usr/local/bin/node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Change case…</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3286A8DB-F52B-4F52-A7BF-AC047E93020C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>rename</string>
						<key>outputlabel</key>
						<string>Rename File(s)</string>
						<key>uid</key>
						<string>31B5E978-02CB-42AE-B09A-3264D53721D6</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>paste</string>
						<key>outputlabel</key>
						<string>Paste to Front App</string>
						<key>uid</key>
						<string>8F708FC7-40D7-4862-8D55-AC6037DF8473</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Copy to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>644BC5CD-0904-4F74-A62B-53F8C0C480AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A2D82697-DC86-4750-914C-5A20D670AECC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6C3518AF-C551-4680-A4C2-7D1D95E7B401</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Copyied to Clipboard</string>
				<key>title</key>
				<string>Case changed!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0675D6AB-8DDC-43DB-AA1F-525449E91AE2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred workflow to change case on selected text, filenames, and more

https://github.com/chrisspiegl/alfred-case-change</string>
	<key>uidata</key>
	<dict>
		<key>0675D6AB-8DDC-43DB-AA1F-525449E91AE2</key>
		<dict>
			<key>xpos</key>
			<integer>675</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>3286A8DB-F52B-4F52-A7BF-AC047E93020C</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>471CF534-F026-4387-9103-42579D4470D0</key>
		<dict>
			<key>note</key>
			<string>and Paste to front most</string>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>50AE60DC-16B0-4D10-A276-B4B53EE106ED</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>644BC5CD-0904-4F74-A62B-53F8C0C480AD</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>6C3518AF-C551-4680-A4C2-7D1D95E7B401</key>
		<dict>
			<key>note</key>
			<string>Copy to Clipboard</string>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>A2D82697-DC86-4750-914C-5A20D670AECC</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>A3329C17-F24B-4733-949B-7A83AC8FC0A2</key>
		<dict>
			<key>xpos</key>
			<integer>675</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>A97A5012-D24A-420B-8B58-E8D6293777E1</key>
		<dict>
			<key>xpos</key>
			<integer>675</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>AEB8D60E-FD3D-4701-9416-3DAEC04A19A8</key>
		<dict>
			<key>note</key>
			<string>Rename File(s)</string>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>keyword</key>
		<string>case</string>
	</dict>
	<key>version</key>
	<string></string>
</dict>
</plist>
